[workspace]

members = [
    "gl-bindings",
    "canvas-core",
    "v8-bindings"
]


[profile.release]
panic = "abort"
codegen-units = 1
lto = true
#opt-level = 3
opt-level = "z"
debug = false
incremental = false
